<div style="background-color:#f6f6f6;font-family:Arial;font-size:14px;line-height:1.4;margin:0;padding:0">
    <table role="presentation"
           style="border-collapse:separate;width:100%">
        <tbody>
            <tr>
                <td style="font-family:Arial;font-size:14px;vertical-align:top;padding:24px 32px">
                    <p>Dear {{ name }}, </p>
                    <p>Đơn xin nghỉ phép ngày {{ date_time_off }} của bạn đã được quản lý Phê duyệt vào ngày {{ date }}. Xem chi tiết <a href="{{ urlReset }}" target="_blank">tại đây!</a></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

