<p>Xin chào {{ name }}, thuộc team {{ department }}</p>
<p>Đây là tài khoản E-Portal của bạn, vui lòng đổi mật khẩu khi đăng nhập thành công!</p>
<p>Email: {{ email }}</p>
<p>Mật khẩu: {{ password }}</p>

<p>Chào mừng bạn đến với Citigo.</p>